body{
    background-color: rgb(224, 174, 0);
}
.nav-bar{
    background-color: rgb(131, 71, 14);
    position: relative;
    margin: 2vh 15vw 10vh 15vw;
    height: auto;
}
.nav-bar a{
    font-size: 2em;
    padding: .5rem;
    position:relative;
    display: inline-block;
}
.site_header{
    position: relative;
    top: 145%;
}