body{
    background-color:rgb(245, 225, 125);
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}
.nav-bar{
    position: relative;
    display: inline-flex;
    margin: 2vh 25vw 3vh 25vw;
    height: auto;
    border: 2px ridge rgb(176,137,2);
    border-radius: 8px;
}
.nav-bar a{
    font-size: 2em;
    padding: .75rem;
    width: auto;
    border: 0;
    border-radius: 10px;
    position:relative;
    display: inline-block;
    text-decoration: none;
    color: black;
}
.nav-bar a:hover {
    background-color: rgb(176,137,2);
    border-radius: 8px;
  }
.site_header{
    position: relative;
    font-size: 3em;
    left: 20vw;
}
.information{
    position:relative;
    font-size: 1.5em;
    left: 22.5vw;
    right: 45vw;
}